# POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MINIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# AIRFLOW VARIABLES
AIRFLOW_VAR_ENV=local
AIRFLOW_VAR_DATA_PATH=/opt/airflow/data
AIRFLOW_VAR_MODEL_PATH=/opt/airflow/models

# AIRFLOW CONNECTIONS
AIRFLOW_CONN_PROJECT_DB=postgres://<user>:<password>@project_db:5432/<dbname>
AIRFLOW_CONN_MINIO=aws://<user>:<password>@?endpoint_url=http%3A%2F%2Fminio%3A9000